@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Primary Color : #7755ff */
/* Secondary Color : #ffc448 */
/* Black: 292929 */

body {
  background-color: #f9f9f9;
  
}
